[lightning]
# 日志
level = "info"
file = "${log_file}"
check-requirements = false

[tikv-importer]
# 选择使用的 local 后端
backend = "local"
# 设置排序的键值对的临时存放地址，目标路径需要是一个空目录
sorted-kv-dir = "${sorted_kv_dir}"

[mydumper]
# 源数据目录。
data-source-dir = "${src_dir}"

# 配置通配符规则，默认规则会过滤 mysql、sys、INFORMATION_SCHEMA、PERFORMANCE_SCHEMA、METRICS_SCHEMA、INSPECTION_SCHEMA 系统数据库下的所有表
# 若不配置该项，导入系统表时会出现“找不到 schema”的异常
filter = ['*.*', '!mysql.*', '!__TiDB_BR_Temporary_mysql.*', '!sys.*', '!INFORMATION_SCHEMA.*', '!PERFORMANCE_SCHEMA.*', '!METRICS_SCHEMA.*', '!INSPECTION_SCHEMA.*']

[mydumper.csv]
header = false

[tidb]
# 目标集群的信息
host = "${host}"
port = ${port}
user = "${user}"
# 集群 pd 的地址
pd-addr = "${pd}"

[post-restore]
# 如果设置为 true，会对所有表逐个执行 `ADMIN CHECKSUM TABLE <table>` 操作
# 来验证数据的完整性。
# 脱敏后，AUTO INCREMENT 和 UNIQUE / PRIMARY KEY 列都不能保证正确
checksum = ${checksum}
